<ol id="top">
  <li>
    <a href='#s3_access'>Get S3 access </a>
  </li>
  <li>
    <a href='#sign_up'>Sign up </a>
  </li>
  <li>
    <a href='#sign_in'>Sign in </a>
  </li>
  <li>
    <a href='#sign_out'>Sign out </a>
  </li>
  <li>
    <a href='#forgot_password'>Forgot password </a>
  </li>
  <li>
    <a href='#reset_password'>Reset password </a>
  </li>
  <li>
    <a href='#update_profile'>Update profile </a>
  </li>
  <li>
    <a href='#update_push_token'>Update push token </a>
  </li>
  <li>
    <a href='#create_project'>Create project </a>
  </li>
  <li>
    <a href='#get_project'>Get project </a>
  </li>
  <li>
    <a href='#update_project'>Update project </a>
  </li>
  <li>
    <a href='#delete_project'>Delete a project </a>
  </li>
  <li>
    <a href='#list_projects'>List projects </a>
  </li>
  <li>
    <a href='#recap_projects'>Recap </a>
  </li>
  <li>
    <a href='#update_milestone'>Update milestone </a>
  </li>

  <li>
    <a href='#delete_milestone'>Delete milestone </a>
  </li>
  <li>
    <a href='#add_images_of_milestone'>Add images of milestone </a>
  </li>

  <li>
    <a href='#mark_milestone_as_completed'>Mark milestone as completed </a>
  </li>
  <li>
    <a href='#mark_milestone_as_uncompleted'>Mark milestone as uncompleted </a>
  </li>
  <li>
    <a href='#create_message'>Create message </a>
  </li>
  <li>
    <a href='#list_messages'>List messages </a>
  </li>
  <li>
    <a href='#messages_inbox'>Inbox</a>
  </li>
  <li>
    <a href='#mark_all_as_read'>Mark all messages as read </a>
  </li>
  <li>
    <a href='#get_authorize_url_for_merchant'>Get authorize_url for merchant </a>
  </li>
  <li>
    <a href='#create_merchant_from_authorization_code'>Create merchant from authorization code </a>
  </li>
  <li>
    <a href='#get_contractor_stripe_account'>Get contractor stripe account </a>
  </li>
  <li>
    <a href='#deauthorize_merchant'>Deauthorize a merchant </a>
  </li>
  <li>
    <a href='#add_customer'>Add customer </a>
  </li>
  <li>
    <a href='#add_card'>Add card </a>
  </li>
  <li>
    <a href='#delete_card'>Delete card </a>
  </li>
  <li>
    <a href='#get_customer_sources'>Get customer sources </a>
  </li>
  <li>
    <a href='#charge'>Charge </a>
  </li>
  <li>
    <a href='#release_funds'>Release funds </a>
  </li>
  <li>
    <a href='#list_activities'>List activities </a>
  </li>
  <li>
    <a href='#list_charges'>List charges </a>
  </li>
  <li>
    <a href='#create_contact'>Create contact </a>
  </li>
</ol>

<ol>
  <li>
    <hr id='s3_access'/>
    <%= render 's3_access' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='sign_up'/>
    <%= render 'sign_up' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='sign_in'/>
    <%= render 'sign_in' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='sign_out'/>
    <%= render 'sign_out' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='forgot_password'/>
    <%= render 'forgot_password' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='reset_password'/>
    <%= render 'reset_password' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='update_profile'/>
    <%= render 'update_profile' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='update_push_token'/>
    <%= render 'update_push_token' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='create_project'/>
    <%= render 'create_project' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='get_project'/>
    <%= render 'get_project' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='update_project'/>
    <%= render 'update_project' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='delete_project'/>
    <%= render 'delete_project' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='list_projects'/>
    <%= render 'list_projects' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='recap_projects'/>
    <%= render 'recap_projects' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='update_milestone'/>
    <%= render 'update_milestone' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='delete_milestone'/>
    <%= render 'delete_milestone' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='add_images_of_milestone'/>
    <%= render 'add_images_of_milestone' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='mark_milestone_as_completed'/>
    <%= render 'mark_milestone_as_completed' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='mark_milestone_as_uncompleted'/>
    <%= render 'mark_milestone_as_uncompleted' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='create_message'/>
    <%= render 'create_message' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='list_messages'/>
    <%= render 'list_messages' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='messages_inbox'/>
    <%= render 'messages_inbox' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='mark_all_as_read'/>
    <%= render 'mark_all_as_read' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='get_authorize_url_for_merchant'/>
    <%= render 'get_authorize_url_for_merchant' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='create_merchant_from_authorization_code'/>
    <%= render 'create_merchant_from_authorization_code' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='get_contractor_stripe_account'/>
    <%= render 'get_contractor_stripe_account' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='deauthorize_merchant'/>
    <%= render 'deauthorize_merchant' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='add_customer'/>
    <%= render 'add_customer' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='add_card'/>
    <%= render 'add_card' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='delete_card'/>
    <%= render 'delete_card' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='get_customer_sources'/>
    <%= render 'get_customer_sources' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='charge'/>
    <%= render 'charge' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='release_funds'/>
    <%= render 'release_funds' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='list_activities'/>
    <%= render 'list_activities' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='list_charges'/>
    <%= render 'list_charges' %>
    <a href='#top'><small>Back to top</small></a>
  </li>
  <li>
    <hr id='create_contact'/>
    <%= render 'create_contact' %>
    <a href='#top'><small>Back to top</small></a>
  </li>

</ol>
<hr/>
